<footer class="footer">
    <div class="footer-container">
      
      <!-- Left Section -->
      <div class="footer-left">
        <img src="assets/images/logo.png" alt="Logo" class="footer-logo" />
        <p>Shree Navi Mumbai Bhanushali Charitable Trust
            <br>Office No. M-13, 1st Floor, APMC Market 2 (Dana Bunder),
            <br>Sector 19, Vashi
        <br>Navi Mumbai, Maharashtra
        <br>Email: <a href="mailto:snmbct2001@gmail.com">snmbct2001@gmail.com</a>
        <br>Phone No: <a href="tel:9930200033">9930200033</a>
        </p>
      </div>
  
      <!-- Center Section -->
      <div class="footer-center">
        <p>&copy; 2025 Shree Navi Mumbai Bhanushali Charitable Trust. All rights reserved.</p>
      </div>
  
      <!-- Right Section -->
      <div class="footer-right">
        <a href="https://www.facebook.com/SNMBCT/" target="_blank"><i class="fab fa-facebook-f"></i></a>
        <a href="https://www.instagram.com/snmbct_trust/" target="_blank"><i class="fab fa-instagram"></i></a>
      </div>
  
    </div>
  </footer>
  