<section class="home container">
    <h1 class="home-title">Welcome to Shree Navi Mumbai Bhanushali Charitable Trust</h1>
  
    <!-- About Section -->
    <div class="home-section about">
        <div class="section-content about-layout">
          <div class="about-image">
            <img src="assets/images/snmbct.jpg" alt="Shree Navi Mumbai Bhanushali Charitable Trust"/>
          </div>
          <div class="about-text">
            <h2>About SNMBCT</h2>
            <p>
              Shri Navi Mumbai Bhanushali Charitable Trust (SNMBCT) is a dedicated community-based organization formed to serve and uplift the Bhanushali community in Navi Mumbai. Established in [Year], the Trust was founded with a shared vision: to preserve our rich cultural heritage while empowering individuals and families through education, support, and unity.
            </p>
            <p>
              We focus on initiatives that strengthen the social, educational, and economic foundations of the Bhanushali community. Our key programs include educational support for students, health awareness and check-up camps, and community events that promote cultural pride and togetherness.
            </p>
            <a routerLink="/about-us" class="more-link">Learn more →</a>
          </div>
        </div>
      </div>
    
  
    <!-- Committees Section -->
    <div class="home-section committees">
      <div class="section-content about-layout">
        <div class="about-image">
            <img src="assets/images/committee.jpg" alt="Shree Navi Mumbai Bhanushali Charitable Trust"/>
          </div>
          <div class="about-text">
        <h2>Committee</h2>
        <p>Meet the driving force behind our initiatives — passionate and dedicated individuals.</p>
        <a routerLink="/committees" class="more-link">View members →</a>
          </div>
      </div>
    </div>
  
    <!-- Forms Section -->
    <div class="home-section forms">
      <div class="section-content about-layout">
        <div class="about-image">
            <img src="assets/images/forms.jpg" alt="Shree Navi Mumbai Bhanushali Charitable Trust"/>
          </div>
          <div class="about-text">
        <h2>Forms</h2>
        <p>Participate in our events and schemes by submitting necessary information through our forms.</p>
        <a routerLink="/forms" class="more-link">Fill out forms →</a>
          </div>
      </div>
    </div>
  </section>
  